@import "tailwindcss";


@theme {
  --color-main: #000000;
  --color-graybg:#F0F0F0;
  --color-shadowbg: #00000025;
}

html{
  scroll-behavior: smooth;
  scrollbar-color: #000 #fff;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

.hero::before{
  content: "";
  position: absolute;
  bottom: -67px;
  left: -97px;
  height: 141px;
  width: 150px;
  border: 7px solid #000000;
}

input:focus ~ .text-input{
  @apply transform -translate-y-6.5 text-main bg-graybg px-2 z-10;
}